@import './sidebar.scss';
@import './topbar.scss';
@import './elements.scss';

body {
    margin: 0;
    padding: 0;
}

.appmain {
    background-color: aqua;
}

.el-header {
    --el-header-padding: 0;
    --el-header-height: 58px;
    padding: 0;
}

.el-main {
    --el-main-padding: 5px 0 0 10px;
}
.el-popper.is-customized {
    /* Set padding to ensure the height is 32px */
    padding: 6px 12px;
    background: linear-gradient(90deg, rgb(159, 229, 151), rgb(204, 229, 129));
  }
  
  .el-popper.is-customized .el-popper__arrow::before {
    background: linear-gradient(45deg, #b2e68d, #bce689);
    right: 0;
  }